
body{
    margin: auto;
    max-width: 50px auto;
    padding-left: 5%;
    padding-right:5%;
    text-align: center;
}

.tb-des{
    max-width: 1500px ;
    background-color: #EEEEEE;
    text-align: center;
}

.box1{
    background-color: #7EE5DA;
}
.box2{
    background-color: #70CCC2;
    font-size: 12px;
}
.box3{
    background-color: #62B3AA;
    font-size: 12px;
}